<div class="loading" style="display: none;color:red;">
    <h1>Loading</h1>
</div>
<form action="/add" method="POST">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
    </div>
    <div class="form-group">
        <label for="weight">Weight:</label>
        <input type="text" class="form-control" id="weight" placeholder="Enter weight" name="weight">
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" id="price" placeholder="Enter price" name="price">
    </div>
    <div class="form-group">
        <label for="mrp">MRP:</label>
        <input type="number" class="form-control" id="mrp" placeholder="Enter MRP" name="mrp">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<table id="main" data-order='[[ 1, "asc" ]]' class="cell-border compact stripe">
    <thead>
        <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Price</th>
            <th>MRP</th>
            <th>Events</th>
        </tr>
    </thead>
    <tbody>
        {{#each data.items}}
            <tr>
                <td>{{this.display.[0]}}</td>
                <td>{{this.display.[1]}}</td>
                <td>{{this.display.[2]}}</td>
                <td>{{this.display.[3]}}</td>
                <td><button class="btn btn-danger" onclick="del_item('{{this.display.[0]}}');">X</button></td>
            </tr>
        {{/each}}
    </tbody>
</table>
